In [13]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [14]:
data = pd.read_csv('C:/Users/chand/Desktop/case study solving/Enrollments_Dataset - Enrollments by Parents.csv')

In [15]:
data.head(10)

,Timestamp,Parent name,Child Name,Age,Communication Preference,Teacher Name,Source,Source details,Class ID,Type,...,Score - Another class,Yes,Maybe,No,Final score,ID for sequential classes,Class Part Number,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,Raphaela Heussen,Elsa,9.0,NaN,Clark Vandeventer,Friends and Family,NaN,7,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,NaN,Raphaela Heussen,Elsa,9.0,NaN,Nicole Pauling,Friends and Family,NaN,14,Onetime,...,3.0,3.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN
2,NaN,Swetha Chandra,Vivaan,7.0,NaN,Bill Thompson,Friends and Family,NaN,18,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,NaN,Swetha Chandra,Vivaan,7.0,NaN,Clark Vandeventer,Friends and Family,NaN,19,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,NaN,Raphaela Heussen,Ana,13.0,NaN,Clark Vandeventer,Friends and Family,NaN,11,Onetime,...,2.0,2.0,1.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN
5,NaN,Raphaela Heussen,Ana,13.0,NaN,Keallah Smith,Friends and Family,NaN,16,Onetime,...,3.0,3.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN
6,NaN,Rashma Madhavaram,Vihaan Durga Avirneni,8.0,NaN,Aaron Potsick,Friends and Family,NaN,4,Onetime,...,2.0,2.0,1.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN
7,NaN,Rashma Madhavaram,Vihaan Durga Avirneni,8.0,NaN,Misses Dee,Friends and Family,NaN,5,Onetime,...,3.0,3.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN
8,NaN,Rashma Madhavaram,Vihaan Durga Avirneni,8.0,NaN,Aaron Potsick,Friends and Family,NaN,6,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,NaN,Rashma Madhavaram,Vihaan Durga Avirneni,8.0,NaN,Clark Vandeventer,Friends and Family,NaN,7,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

Data Cleaning

In [16]:
irrelevant_columns = ['Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Timestamp', 'Want another slot']
data_cleaned = data.drop(columns=irrelevant_columns)

In [17]:
data.head(5)

,Timestamp,Parent name,Child Name,Age,Communication Preference,Teacher Name,Source,Source details,Class ID,Type,...,Score - Another class,Yes,Maybe,No,Final score,ID for sequential classes,Class Part Number,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,Raphaela Heussen,Elsa,9.0,NaN,Clark Vandeventer,Friends and Family,NaN,7,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,NaN,Raphaela Heussen,Elsa,9.0,NaN,Nicole Pauling,Friends and Family,NaN,14,Onetime,...,3.0,3.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN
2,NaN,Swetha Chandra,Vivaan,7.0,NaN,Bill Thompson,Friends and Family,NaN,18,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,NaN,Swetha Chandra,Vivaan,7.0,NaN,Clark Vandeventer,Friends and Family,NaN,19,Onetime,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,NaN,Raphaela Heussen,Ana,13.0,NaN,Clark Vandeventer,Friends and Family,NaN,11,Onetime,...,2.0,2.0,1.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN